<section class="content">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="col d-flex justify-content-center">
                <h2>COMEDORES</h2>
              </div>
  
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3 mb-4" *ngFor="let product of products">
                    <div class="card">
                      <img [src]="product.imageN_PRO" class="card-img-top card-image" alt="Card Image">
                      <div class="card-body">
                        <h2 class="card-title">{{ product.nombrE_PRO }}</h2>
                        <p class="card-text">{{ product.descripcioN_PRO }}</p>
                        <div class="row">
                          <div class="col-md-auto">
                            <button (click)="agregarAlCarrito(product)" class="btn btn-secondary d-flex align-items-center justify-content-center">
                              <mat-icon class="mr-1">add_shopping_cart</mat-icon>
                              Add to cart
                            </button>
                          </div>
                          <div class="col-md-auto">
                            <button class="btn btn-secondary d-flex align-items-center justify-content-center" (click)="selectCard(product)">
                              <mat-icon class="mr-1">launch</mat-icon>
                              Ver Producto
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>