<nav class="navbar navbar-expand-lg bg-light" *ngIf="isLoggedIn">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Los Alpes
        <!-- <img src="./assets/images/logo/logob.png" alt="logo" class="logoNav"> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" routerLink="/home"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/mesas">COMEDORES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/sofas">SOFAS</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/armarios">ARMARIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/sillas">SILLAS</a>
          </li>
    
          <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link active" aria-current="page" routerLink="/administracion">ADMINISTRACION</a>
          </li>
        </ul>
        <span class="material-icons display-6" routerLink="/home" style="cursor: pointer;">home</span>
        <span class="material-icons display-6" (click)="redirectToCarrito()" style="cursor: pointer;">add_shopping_cart</span>
        <span><h2><Strong>{{countProducts}}</Strong></h2></span>
        <span class="material-icons display-6" style="cursor: pointer;">person</span>
        <span class="material-icons display-6" (click)="redirectToLogin()" style="cursor: pointer;">exit_to_app</span>
  
      </div>
    </div>
  </nav>