<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Los Alpes</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <span><h5><Strong>{{countProducts}}</Strong></h5></span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <h1 class="ion-text-center">Lo Más Vendido</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let card of cards">
        <ion-card >
          <img class="custom-card" alt="Silhouette of mountains" [src]="card.imageN_PRO" />
          <ion-card-header>
            <ion-card-title>{{ card.nombrE_PRO }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ card.descripcioN_PRO }}
          </ion-card-content>
          <ion-button (click)="agregarAlCarrito(card)"shape="round">Add To Cart</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
