<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Los Alpes</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" routerLink="/carrito">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <span>
        <h5><Strong>{{countProducts}}</Strong></h5>
      </span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <h1 class="ion-text-center">Carrito De Compras</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let producto of productos; let i = index">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" [src]="producto.img" />
          </ion-thumbnail>
          <ion-label>{{ producto.nombre }}</ion-label>
          <div class="cantidad-container">
            <ion-button color="danger" size="small" (click)="decreaseQuantity(producto)">-</ion-button>
            <span>{{ producto.quantity }}</span>
            <ion-button color="success" size="small" (click)="increaseQuantity(producto)">+</ion-button>
          </div>
          <ion-icon color="danger" name="trash-outline" (click)="eliminarProducto(i)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-content class="ion-padding">
    <h2>Total: {{ calcularTotal() }}</h2>
    <ion-button (click)="checkOut()" [disabled]="countProducts > 0">Confirmar Compra</ion-button>

    <ion-card  *ngIf="isPay">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Información de Pago</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="ion-padding-top">
          <ion-input  type="text" label="Nombre en la Tarjeta" label-placement="floating" fill="outline"  [(ngModel)]="nombreTarjeta"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-input  type="number" label="Numero de Tarjeta" label-placement="floating" fill="outline" [(ngModel)]="numeroTarjeta"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
            <ion-input  type="text" label="Fecha de expiración" label-placement="floating" fill="outline" [(ngModel)]="fechaTarjeta"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">

          <ion-input  type="number" label="CVV" label-placement="floating" fill="outline" [(ngModel)]="codigoSeguridad" min="3" max="3"></ion-input>
        </ion-item>
      </ion-card-content>
    <ion-button  (click)="setOpen(true)">Pagar</ion-button>

    </ion-card>
  </ion-content>

  <ion-alert
  [isOpen]="isAlertOpen"
  header="¡Compra Exitosa!"
  [subHeader]="messageAlert"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

</ion-content>